<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
                type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="RaidTool.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<userSettings>
		<RaidTool.Properties.Settings>
   <setting name="WaitTime" serializeAs="String">
    <value>10000</value>
   </setting>
   <setting name="LogFilter" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="RaidHerosVerison" serializeAs="String">
    <value>raid_heroes-1.2-12-gf54eac4</value>
   </setting>
   <setting name="LogType" serializeAs="String">
    <value>auto detect (read ArcDps ini)</value>
   </setting>
   <setting name="OpenNewRaidHerosFiles" serializeAs="String">
    <value>false</value>
   </setting>
   <setting name="RaidarUser" serializeAs="String">
    <value />
   </setting>
   <setting name="RaidarPassword" serializeAs="String">
    <value />
   </setting>
  </RaidTool.Properties.Settings>
	</userSettings>
</configuration>